In [1]:
import csv
import json
import sys
import os
import pandas as pd
import numpy as np

In [2]:
def convert_json_to_csv(json_file_path, csv_file_path):
    with open(json_file_path,'r',encoding='utf-8') as fin:
        for line in fin:
            line_contents = json.loads(line)
            headers=line_contents.keys()
            break
        print(headers)
        
    with open(csv_file_path, 'w', newline='',encoding='utf-8') as fout:
        writer=csv.DictWriter(fout, headers)
        writer.writeheader()
        with open(json_file_path, 'r', encoding='utf-8') as fin:
            for line in fin:
                line_contents = json.loads(line)
                writer.writerow(line_contents)

In [4]:
input_folder_path = 'yelp_dataset/'
output_folder_path = 'yelp_csv_dataset/'
file_names = os.listdir(input_folder_path)

for file_name in file_names:
    if not file_name.endswith(".json"):
        continue
    json_file_path = input_folder_path + file_name
    csv_file_path = output_folder_path + file_name[:-5] + ".csv"
    convert_json_to_csv(json_file_path, csv_file_path)

dict_keys(['business_id', 'date'])
dict_keys(['user_id', 'business_id', 'text', 'date', 'compliment_count'])
dict_keys(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date'])
dict_keys(['business_id', 'name', 'address', 'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars', 'review_count', 'is_open', 'attributes', 'categories', 'hours'])
dict_keys(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny', 'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer', 'compliment_photos'])

In [8]:
%cd $output_folder_path
df_bussiness = pd.read_csv("yelp_academic_dataset_business.csv")

[Errno 2] No such file or directory: 'yelp_csv_dataset/'
/Users/zch/Desktop/GitHub/CIS5500-Final-Project/datasets/yelp_csv_dataset

In [16]:
df_bussiness.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [31]:
df_bussiness[["review_count", "stars"]].describe()

        review_count          stars
count  150346.000000  150346.000000
mean       44.866561       3.596724
std       121.120136       0.974421
min         5.000000       1.000000
25%         8.000000       3.000000
50%        15.000000       3.500000
75%        37.000000       4.500000
max      7568.000000       5.000000

In [30]:
df_bussiness.groupby("city").agg(count=('business_id', 'count')).sort_values("count", ascending=False)[:5]

              count
city
Philadelphia  14569
Tucson         9250
Tampa          9050
Indianapolis   7540
Nashville      6971

In [32]:
df_user = pd.read_csv("yelp_academic_dataset_user.csv")
df_user.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [35]:
df_user[['review_count', 'useful', 'funny', 'cool']].describe()

       review_count        useful         funny          cool
count  1.987897e+06  1.987897e+06  1.987897e+06  1.987897e+06
mean   2.339441e+01  4.229634e+01  1.697054e+01  2.379291e+01
std    8.256699e+01  6.414806e+02  4.078034e+02  5.653513e+02
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    2.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    5.000000e+00  3.000000e+00  0.000000e+00  0.000000e+00
75%    1.700000e+01  1.300000e+01  2.000000e+00  3.000000e+00
max    1.747300e+04  2.062960e+05  1.858230e+05  1.998780e+05

In [36]:
df_user[['yelping_since']]

               yelping_since
0        2007-01-25 16:47:26
1        2009-01-25 04:35:42
2        2008-07-25 10:41:00
3        2005-11-29 04:38:33
4        2007-01-05 19:40:59
...                      ...
1987892  2015-01-06 00:31:31
1987893  2016-06-14 07:20:52
1987894  2017-02-04 15:31:58
1987895  2011-01-14 00:29:08
1987896  2020-12-19 02:32:39

[1987897 rows x 1 columns]

In [49]:
df_user['yelping_since'] = pd.to_datetime(df_user['yelping_since']).dt.date
most_recent = df_user['yelping_since'].max()
df_user['years_on_yelp'] = (most_recent - df_user['yelping_since']).dt.days / 365

In [48]:
# The statistics for years each user has been registered on Yelp
df_user['years_on_yelp'].describe().astype(int)

count    1987897
mean           6
std            3
min            0
25%            5
50%            7
75%            9
max           17
Name: years_on_yelp, dtype: int64

In [15]:
file_names = os.listdir()

for file_name in file_names:
    if not file_name.endswith(".csv"):
        continue
    size_bytes = os.path.getsize(file_name)
    size_mb = size_bytes / (1024 * 1024)
    size_gb = size_bytes / (1024 * 1024 * 1024)

    if size_gb >= 1:
        size = f"{size_gb:.2f} GB"
    else:
        size = f"{size_mb:.2f} MB"

    df = pd.read_csv(file_name)
    print(f"{file_name}: mb/gb - {size}, Number of Rows - {df.shape[0]}, Number of Attributes: - {df.shape[1]}")

yelp_academic_dataset_tip.csv: mb/gb - 115.34 MB, Number of Rows - 908915, Number of Attributes: - 5
yelp_academic_dataset_checkin.csv: mb/gb - 270.63 MB, Number of Rows - 131930, Number of Attributes: - 2
yelp_academic_dataset_review.csv: mb/gb - 4.37 GB, Number of Rows - 6990280, Number of Attributes: - 9
yelp_academic_dataset_user.csv: mb/gb - 2.52 GB, Number of Rows - 1987897, Number of Attributes: - 22
yelp_academic_dataset_business.csv: mb/gb - 94.62 MB, Number of Rows - 150346, Number of Attributes: - 14